.Headeer {
    background-color: var(--main-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 62.2px;
}
.Title {
    font-weight: bold;
    color: white;
    margin-top: 43px;
}
.container {
    width: var(--width-container);
}
